doctype html
head
  block title
    title
      |Login
  link(rel= "stylesheet", href= "./css/styles.css")
body
  block content
    div(id= 'loginContainer')
    div(id= 'formContainer')
      form(method='POST' action='/login')
        p Username:
          input(name= 'username')
        p(id='pw') Password:
          input(type= 'password' name= 'password')
        span
          button(type= 'submit') Login
        span
          a(href ='/signUp')
            button Sign Up